git.geektr.cloud {
    tls geektheripper@gmail.com
    proxy / gitlab {
        transparent
        websocket
    }
}

npm.geektr.cloud {
    tls geektheripper@gmail.com
    proxy / verdaccio:4873 {
        transparent
        websocket
    }
}